*{
    padding: 0px;
    margin: 0px;
}
@font-face{
    font-family:fa;
    src:url('./font/Yekan.ttf'),url('./font/Yekan.woff?#iefix');
}
@font-face{
    font-family: eng;
    src:url('./font/Muli.ttf'),url('./font/Muli.woff?#iefix');
}
body{
    background-color: #333;
    color: #d5d5d5;
    direction: rtl;
    line-height: 200%;
    font-size: 110%;
    font-family: fa,eng;
    text-indent: 4%;
}
.width-img-head{
    width: 100%;
}
.img-fig{
    display:block;margin:auto;width: 90%;       
}
.figcaption-index{
    font-weight: bolder;font-size: 200%;padding: 5% 5% 0 0;margin-top: 2%;
}
.article-link_index{
    padding:5%; background-color:#119822;text-decoration: none;color: #fff;border-radius: 10px;
}
.article-link_index:active{
    background: linear-gradient(225deg, #0f891f, #12a324);
}
.article-link_index:hover{
    background: linear-gradient(225deg, #0f891f, #12a324);
}
main{
    margin: 1%;padding: 1%;
} 
.neo-soft{
    padding: 5%;border-radius: 30px;
    background: linear-gradient(225deg, #373737, #2e2e2e);
    box-shadow:  -10px 10px 20px #141414,
                 10px -10px 20px #525252;
}
footer{
    margin-top: 15%;
    background-color: #1e1e1e;
    color: #ffd700;
    font-size: 85%;
}
.width10_footer{
    width:20%;
    padding: 1%;
}
.block-img{
    display: block;
    width: 25%;
    padding: 1%;
}
.aboutus-img_learn{
    width: 50%;
    margin: 5%;
}
#aboutus-img_learn{
    width: 35%;
}
.img-container{
display: flex;align-items: center;
text-align: center;
justify-content: center;
}
.aboutus-img_socialmedia{
    width: 15%;
    margin: 5%;
}
.aboutus-img_connect{
    width: 15%;
    margin: 5%;
}
.aboutus-head{
    color: #2e86ab;
    font-size: 150%;
    margin-top: 15%;
}
/*code editor*/
#Editor {
    direction: ltr;
    width: 100%;
    height: 500px;
    margin: 0 auto 0 auto;
    font-family: eng;
}

.Keys{
    display: inline-block;
    width: 50%;
     
}

#Key{
    display: none;
    
}

#Output-hide{
    display: none;
}

#Editor textarea,iframe{
    border:2px solid #ddd;
    height:500px;
    display: flex;
    padding: 10px;
    width: calc(100% - 20px);
}

#Editor textarea{
    resize: none;
    font-family: eng;
    background-color: #151718;
    color: #55b5db;
    font-size: 100%;
    display: block;
    font-family: eng;
}

#Editor textarea,input,iframe {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
#Browser{
    background-color: white;
}

#Run{
    text-align: center;
    height: auto;
    width: 100%;
    border-radius: 5px;
    
}
.Run__key{
    width: 50%;
    font-size: 125%;
    color: #8b0000;
    background-color: rgba(213,213,213,0.85); 
    font-family: eng;
    border-radius: 10px;
    box-shadow: 4px 8px 1px #5d5d5d;
    margin: 10% auto;
}

.Run__key:hover{
    font-weight: bold;
    text-shadow: 2.5px 2.5px 2px #1d0000;
    background-color: rgba(213,213,213);
    box-shadow: 4px 8px 1px rgba(213,213,213,0.7);
    
}